<div class="container">
  <a name="users" id="" class="btn btn-primary" ui-sref="admin.users" role="button">Users</a>
  <a name="games" id="" class="btn btn-primary" ui-sref="admin.games" role="button">Games</a>
  <hr>
  <div ui-view=""></div>
</div>
