<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Your profile changes</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="prform" ng-submit="vm.updateProfile(prform)" novalidate>

        <div class="form-group">
          <label>Gamer Tag</label>
          <input type="text" name="name" class="form-control" ng-model="vm.user.name" required />
          <p class="help-block" ng-show="(prform.name.$error.required) && (form.icon.$dirty || vm.submitted2)">
            User name is required
          </p>
        </div>

        <div class="form-group">
          <label>Icon url</label>
          <input type="url" name="icon" class="form-control" ng-model="vm.user.icon" />
          <p class="help-block" ng-show="(prform.icon.$error.url) && (form.icon.$dirty || vm.submitted2)">
            Text field should be valid URL
          </p>
        </div>
        <p class="help-block"> {{ vm.message2 }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Update profile</button>

      </form>
    </div>
    <div class="col-sm-12">
      <hr>
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" />
          <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Update password</button>
      </form>
    </div>
  </div>
</div>
