<table class="table">
  <tbody>
    <tr ng-repeat="game in $ctrl.games">
      <td scope="row">{{game.name}}</td>
      <td><a name="edit" id="edit" class="btn btn-primary" ui-sref="admin.games_edit({id: game._id})" role="button">Edit</a></td>
    </tr>
  </tbody>
</table>
<a name="add" id="add" class="btn btn-primary" ui-sref="admin.games_add" role="button">Add</a></td>
