<div class="container">
  <p>Euroclans EU v0.2.0 |
    <a href="https://gitlab.com/gintsgints/euroclans/issues">Issues</a> | Find us on
    <a href="https://discord.gg/jpnzw7H"><img style="width: 110px;" src="http://www.euroclans.eu/assets/images/other/discord-c4e6812966.svg" alt="Discord"></a>
    <a href="https://www.facebook.com/euroclans.eu"><img style="width: 30px;" src="http://www.euroclans.eu/assets/images/other/facebook-fcaddd7636.png" alt="Discord"></a>
  </p>
</div>
