<script type="text/ng-template" id="gamePlatformTemplate.html">
  <a>
    <img ng-src="/assets/images/platforms/{{match.model.img}}" width="32">
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="container">
  <div ng-if="($ctrl.thisId === '') || ($ctrl.editMode)" class="row">
    <h2 ng-if="!$ctrl.editMode">Add New Event:</h2>
    <h2 ng-if="$ctrl.editMode">Edit Event:</h2>
    <form class="form" name="addEvent" ng-submit="$ctrl.addEvent(addEvent)" novalidate>

      <div class="form-group" ng-class="((addEvent.name.$invalid) && (addEvent.name.$touched)) ? 'has-error' : ''">
        <label>Event:</label>
        <input type="text" name="name" placeholder="Describe event" class="form-control" ng-model="$ctrl.events[0].name" required>

        <p class="help-block" ng-show="(addEvent.name.$invalid) && (addEvent.name.$touched)">
          Please specify event name
        </p>
      </div>

      <div ng-hide="$ctrl.clanEvent" class="form-group">
        <button type="button" ng-click="$ctrl.changeClanEvent()" class="btn btn-default">Make event as clan event</button>
      </div>
      <div ng-show="$ctrl.clanEvent" class="row">
        <div class="col-xs-6">
          <label>Clan 1:</label>
          <input type="text" ng-model="$ctrl.events[0].leftClan" placeholder="Choose left team" uib-typeahead="clan as clan.name for clan in $ctrl.clans | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
        </div>
        <div class="col-xs-6">
          <label>Clan 2:</label>
          <input type="text" ng-model="$ctrl.events[0].rightClan" placeholder="Choose right team" uib-typeahead="clan as clan.name for clan in $ctrl.clans | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
        </div>
      </div>
      <br>
      <div ng-show="$ctrl.clanEvent" class="form-group">
        <button type="button" ng-click="$ctrl.changeClanEvent()" class="btn btn-default">Remove clans... not a clan event.</button>
      </div>

      <div class="form-group" ng-class="((addEvent.datetime.$invalid) && (addEvent.datetime.$touched)) ? 'has-error' : ''">
        <label>Event Time:</label>
        <p class="input-group">
          <input name="datetime" type="text" class="form-control" placeholder="Write dd.MM.yyyy HH:mm or push button for date" uib-datepicker-popup="dd.MM.yyyy HH:mm" ng-model="$ctrl.events[0].datetime" is-open="$ctrl.popup.opened" datepicker-options="$ctrl.dateOptions"
            ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.openPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          <p class="input-group">
            <div uib-timepicker ng-model="$ctrl.events[0].datetime" ng-change="changed()" hour-step="1" minute-step="5" show-meridian="false"></div>
          </p>
        </p>
        <p class="help-block" ng-show="(addEvent.datetime.$invalid) && (addEvent.datetime.$touched)">
          Please specify event date and time
        </p>
      </div>

      <div class="form-group" ng-class="((addEvent.game.$invalid) && (addEvent.game.$touched)) ? 'has-error' : ''">
        <label>Game:</label>
        <input type="text" name="game" ng-model="$ctrl.events[0].game" placeholder="Choose game" uib-typeahead="game as game.name for game in $ctrl.games | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0" required>
        <p class="help-block" ng-show="(addEvent.game.$invalid) && (addEvent.game.$touched)">
          Please specify event game
        </p>
      </div>

      <div class="form-group" ng-class="((addEvent.gameplatform.$invalid) && (addEvent.gameplatform.$touched)) ? 'has-error' : ''">
        <label>Game platform:</label>
        <input type="text" name="gameplatform" ng-model="$ctrl.events[0].gameplatform" placeholder="Choose game platform" typeahead-template-url="gamePlatformTemplate.html" uib-typeahead="gameplatform as gameplatform.name for gameplatform in $ctrl.events[0].game.gamePlatforms | filter:{name:$viewValue}"
          class="form-control" typeahead-show-hint="true" typeahead-min-length="0" required>
        <p class="help-block" ng-show="(addEvent.gameplatform.$invalid) && (addEvent.gameplatform.$touched)">
          Please specify event game platform
        </p>
      </div>

      <div class="form-group" ng-class="((addEvent.gametype.$invalid) && (addEvent.gametype.$touched)) ? 'has-error' : ''">
        <label>Game mode:</label>
        <input type="text" name="gametype" ng-model="$ctrl.events[0].gametype" placeholder="Choose game type" uib-typeahead="gametype as gametype.name for gametype in $ctrl.events[0].game.gameTypes | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true"
          typeahead-min-length="0" required>
        <p class="help-block" ng-show="(addEvent.gametype.$invalid) && (addEvent.gametype.$touched)">
          Please specify event game type
        </p>
      </div>

      <div class="form-group" ng-class="((addEvent.gamemaps.$invalid) && (addEvent.gamemaps.$touched)) ? 'has-error' : ''">
        <label>Choose maps to play:</label>
        <input type="text" name="gamemap" ng-model="$ctrl.gamemap" placeholder="Choose maps to play (You can agree on maps later)" uib-typeahead="gamemap as gamemap.name for gamemap in $ctrl.events[0].game.gameMaps | filter:{name:$viewValue}" class="form-control"
          typeahead-show-hint="true" typeahead-min-length="0" typeahead-on-select="$ctrl.onMapSelect($item, $model, $label)">
        <p class="help-block" ng-show="(addEvent.gamemap.$invalid) && (addEvent.gamemap.$touched)">
          Game map is invalid
        </p>
        <button class="btn btn-default" type="button" ng-repeat="gamemap in $ctrl.events[0].gameMaps">
          {{gamemap.name}}
          <span ng-click="$ctrl.removeGameMap(gamemap)" class="fa fa-times" aria-hidden="true"></span>
        </button>
      </div>

      <div>
        <button ng-if="!$ctrl.editMode" class="btn btn-primary" ng-click="$ctrl.createEvent($ctrl.events[0])" type="submit">
          Create Event
        </button>
        <button ng-if="$ctrl.editMode" class="btn btn-primary" ng-click="$ctrl.saveEvent($ctrl.events[0])" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
  <div ng-if="($ctrl.thisId !== '') && (!$ctrl.editMode)">
    <form class="thing-form">
      <a name="edit_event" id="edit_event" ng-click="$ctrl.editEvent()" ng-show="$ctrl.isLoggedIn() && ($ctrl.events[0].owner === $ctrl.getCurrentUser()._id)" class="btn btn-primary" role="button">Edit Event</a>
      <a name="delete_event" id="delete_event" ng-click="$ctrl.deleteEvent()" ng-show="$ctrl.isLoggedIn() && ($ctrl.events[0].owner === $ctrl.getCurrentUser()._id)" class="btn btn-danger" role="button">Delete Event</a>
      <a name="login" id="login" ng-hide="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="login" role="button">Login to join matches and create events</a>
    </form>
    <hr>
    <div class="row">
      <div class="col-xs-3">
        <img class="img-thumbnail game-icon" ng-src="/assets/images/games/{{$ctrl.events[0].game.img}}" alt="Game image"><br>
        <img ng-src="/assets/images/platforms/{{$ctrl.events[0].gameplatform.img}}" alt="Game platform image">
      </div>
      <div class="col-xs-3">
        <h3>{{$ctrl.events[0].name}}</h3>
        <p><b>When:</b>{{$ctrl.readyText($ctrl.events[0])}}</p>
        <h4>Result: {{$ctrl.events[0].resultLeft}} : {{$ctrl.events[0].resultRight}}</h4>
      </div>
    </div>
    <a name="add_result" id="add_result" ng-hide="$ctrl.resultsMode || ($ctrl.events[0].confirmedLeft && $ctrl.events[0].confirmedRight)" ng-show="($ctrl.whichTeam($ctrl.getCurrentUser()._id)===1) || $ctrl.whichTeam($ctrl.getCurrentUser()._id)===2" ng-click="$ctrl.addResult()"
      class="btn btn-info" role="button">Add results</a>
    <div class="row" ng-show="$ctrl.resultsMode">
      <h2>Results:</h2>
      <form class="form" name="addEvent" novalidate>
        <div class="col-xs-6">
          <div class="form-group">
            <label>LeftTeam:</label>
            <input type="text" name="name" placeholder="Left team result" class="form-control" ng-model="$ctrl.events[0].resultLeft" required>
          </div>
          <a name="confirm_left" id="confirm_left" ng-click="$ctrl.confirmEvent(0)" ng-show="($ctrl.whichTeam($ctrl.getCurrentUser()._id)===1) && !$ctrl.events[0].confirmedLeft" class="btn btn-primary btn-sm" href="#" role="button">Confirm result for left team</a>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label>RightTeam:</label>
            <input type="text" name="name" placeholder="Right team result" class="form-control" ng-model="$ctrl.events[0].resultRight" required>
          </div>
          <a name="confirm_right" id="confirm_right" ng-click="$ctrl.confirmEvent(1)" ng-show="($ctrl.whichTeam($ctrl.getCurrentUser()._id)===2) && !$ctrl.events[0].confirmedRight" class="btn btn-primary btn-sm" href="#" role="button">Confirm result for right team</a>
        </div>
      </form>
    </div>
    <hr/>
    <div class="row">
      <h2>Teams:</h2>
      <div class="col-xs-6">
        <img class="img-thumbnail team-icon" ng-src="{{$ctrl.events[0].leftClan.img}}" ng-show="$ctrl.events[0].rightClan" alt="Team One"> {{$ctrl.events[0].leftClan.name}}
        <hr>
        <div ng-repeat="player in $ctrl.events[0].leftTeam track by $index">
          <p>
            <player player="player"></player>
            <button ng-click="$ctrl.leaveEvent(0, $ctrl.events[0])" ng-show="player === $ctrl.getCurrentUser()._id" type="button" class="btn btn-xs btn-danger">Leave</button>
          </p>
        </div>
      </div>
      <div class="col-xs-6">
        <img class="img-thumbnail team-icon" ng-src="{{$ctrl.events[0].rightClan.img}}" ng-show="$ctrl.events[0].rightClan" alt="Team Two"> {{$ctrl.events[0].rightClan.name}}
        <hr>
        <div ng-repeat="player in $ctrl.events[0].rightTeam track by $index">
          <p>
            <player player="player"></player>
            <button ng-click="$ctrl.leaveEvent(1, $ctrl.events[0])" ng-show="player === $ctrl.getCurrentUser()._id" type="button" class="btn btn-xs btn-danger">Leave</button>
          </p>
        </div>
      </div>
    </div>
    <h4 ng-hide="(($ctrl.isLoggedIn() && !$ctrl.events[0].rightClan) || ($ctrl.isInClan($ctrl.events[0].leftClan._id))) || (($ctrl.isLoggedIn() && !$ctrl.events[0].rightClan) || ($ctrl.isInClan($ctrl.events[0].rightClan._id)) )">This is clan event. You should be member of "{{$ctrl.events[0].leftClan.name}}" or "{{$ctrl.events[0].rightClan.name}}" to join. </h4>
    <hr/>
    <div class="row">
      <div class="col-xs-6">
        Total players: {{$ctrl.events[0].leftTeam.length}}
        <a name="join" id="join" ng-click="$ctrl.joinEvent(0, $ctrl.events[0])" ng-hide="$ctrl.whichTeam($ctrl.getCurrentUser()._id)===1" ng-show="($ctrl.isLoggedIn() && !$ctrl.events[0].rightClan) || ($ctrl.isInClan($ctrl.events[0].leftClan._id)) " class="btn btn-info btn-sm"
          href="#" role="button">Join</a>
      </div>
      <div class="col-xs-6">
        Total players: {{$ctrl.events[0].rightTeam.length}}
        <a name="join" id="join" ng-click="$ctrl.joinEvent(1, $ctrl.events[0])" ng-hide="$ctrl.whichTeam($ctrl.getCurrentUser()._id)===2" ng-show="($ctrl.isLoggedIn() && !$ctrl.events[0].rightClan) || ($ctrl.isInClan($ctrl.events[0].rightClan._id))" class="btn btn-info btn-sm"
          href="#" role="button">Join</a>
      </div>
    </div>
    <hr/>
    <div class="row">
      <h2>Event maps:</h2>
      <button class="btn btn-default" type="button" ng-repeat="gamemap in $ctrl.events[0].gameMaps">
        {{gamemap.name}}
        <span ng-click="$ctrl.removeGameMap(gamemap)" class="fa fa-times" aria-hidden="true"></span>
      </button>
      <div class="form-group" ng-class="((addEvent.gamemaps.$invalid) && (addEvent.gamemaps.$touched)) ? 'has-error' : ''">
        <label>Choose maps to play:</label>
        <input type="text" name="gamemap" ng-model="$ctrl.gamemap" placeholder="Choose maps to add for event" uib-typeahead="gamemap as gamemap.name for gamemap in $ctrl.events[0].game.gameMaps | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true"
          typeahead-min-length="0" typeahead-on-select="$ctrl.onMapSelect($item, $model, $label)">
        <p class="help-block" ng-show="(addEvent.gamemap.$invalid) && (addEvent.gamemap.$touched)">
          Game map is invalid
        </p>
        <button class="btn btn-default" ng-click="$ctrl.saveMaps()" type="button">Update event map list</button>
      </div>
    </div>
    <hr/>
    <div class="row">
      <form>
        <h2>Event discussion:</h2>
        <ul class="list-group chat-area" scroll-glue>
          <li class="list-group-item" ng-repeat="message in $ctrl.events[0].chat | orderBy:'$index':true">
            <player player="message.user"></player>: {{message.message}}</li>
        </ul>
        <div class="input-group">
          <input type="text" ng-model="$ctrl.mymsg" placeholder="Write your message and press Enter..." class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="$ctrl.addMessage()" type="submit">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
