$icon-font-path: '/assets/fonts/bootstrap/';
@import '../assets/css/variables.scss';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '../assets/css/theme.scss';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css';
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

body {
  margin-top: 90px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.game-icon {
  width: 100px;
  height: 100px;
}

.team-icon {
  width: 75px;
  height: 75px;
}

.player-icon {
  width: 30px;
  height: 30px;
}

// Component styles are injected through gulp

/* inject:scss */

@import 'admin/admin';

@import 'admin/games/games';

@import 'admin/users/users';

@import 'clans/clans';

@import 'event/event';

@import 'main/main';

@import '../components/footer/footer';

@import '../components/modal/modal';

@import '../components/navbar/navbar';

@import '../components/oauth-buttons/oauth-buttons';

/* endinject */
