<div class="container">
  <div class="row">
    <form class="form-inline">
      <a name="add_event" id="add_event" ng-show="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="clans.add" role="button">Create clan</a>
      <a name="login" id="login" ng-hide="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="login" role="button">Login to create or join clan</a>
    </form>
    <hr>
    <h2>Search for clans</h2>
    <form class="form-inline">
      <div class="form-group">
        <label>Search: <input class="form-control" ng-model="search.$"></label> <br>
      </div>
    </form>
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="clan in $ctrl.clans | filter:search:strict" ng-click="$ctrl.goDetails(clan._id)">
          <td scope="row">
            <img ng-src="{{clan.img}}" class="img-thumbnail" alt="Clan image" width="100" height="100">
          </td>
          <td>
            <a ui-sref="clans.detail({id: clan._id})">[{{clan.tag}}] {{clan.name}} <img ng-src="/assets/images/platforms/{{clan.gameplatform.img}}" alt=""> </a><br>
            <a href="{{clan.homepage}}">{{clan.homepage}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
