.hello-text {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.minsm .hello-text {
  padding-top: 4px;
  padding-bottom: 2px;
  padding-right: 10px;
}

.minsm {
  min-height: 30px;
  height: 30px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.minsm .navbar-text {
  height: 30px;
  min-height: 30px
}

.minsm .navbar-brand,
.minsm .navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px
}

.minsm .navbar-brand {
  height: 30px
}

.minsm .navbar-toggle {
  margin: 3px 9px 3px 0px;
  padding: 4px 4px 4px 4px;
}

.minsm .navbar-toggle .icon-bar {
  width: 16px;
}
