mwl-calendar .cal-slide-content a.event-item {
  color: #C8C8C8;
  font-weight: normal;
}

mwl-calendar .cal-week-box {
  border-top: 1px solid #1c1e22;
  border-bottom: 1px solid #1c1e22;
  border-right: 1px solid #1c1e22;
  border-left: 1px solid #1c1e22;
  border-radius: 2px;
}

mwl-calendar .cal-week-box .cal-row-head {
  border-bottom: 1px solid #1c1e22;
}

mwl-calendar .cal-day-weekend span[data-cal-date] {
  color: yellow;
}

mwl-calendar .cal-day-today {
  background-color: #272B30;
}

mwl-calendar .cal-day-today span[data-cal-date] {
  color: green;
}

mwl-calendar #cal-week-box {
  border: 1px solid #1c1e22;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  background-color: #1c1e22;
  text-align: right;
}

mwl-calendar .cal-week-box .cal-row-head {
  border-bottom: 1px solid #1c1e22;
}
