<div class="container">
  <div class="row">
    <form class="thing-form">
      <a name="add_event" id="add_event" ng-show="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="event" role="button">Add new event</a>
      <a name="login" id="login" ng-hide="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="login" role="button">Login to join matches and create events</a>
    </form>
    <hr>
    <h1 class="page-header">Event Callendar</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button class="btn btn-primary" mwl-date-modifier date="$ctrl.viewDate" decrement="$ctrl.calendarView">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button class="btn btn-default" mwl-date-modifier date="$ctrl.viewDate" set-to-today>
        Today
      </button>
      <button class="btn btn-primary" mwl-date-modifier date="$ctrl.viewDate" increment="$ctrl.calendarView">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
    <mwl-calendar view="$ctrl.calendarView" view-date="$ctrl.viewDate" events="$ctrl.calevents" on-event-click="$ctrl.eventClicked(calendarEvent)" cell-is-open="true">
    </mwl-calendar>
  </div>
  <div class="row">
    <h1 class="page-header">Future events</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Event</th>
          <th>Time</th>
          <th>Game</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in $ctrl.events | filter:$ctrl.checkEventShow() | filter:$ctrl.checkEventNull() | orderBy:'datetime'" ng-click="$ctrl.goDetails(event._id)">
          <td>{{event.name}}</td>
          <td>{{$ctrl.readyText(event)}}</td>
          <td align="center">
            <img class="img-thumbnail game-icon" ng-src="/assets/images/games/{{event.game.img}}" alt="Game image"><br>
            <img ng-src="/assets/images/platforms/{{event.gameplatform.img}}" alt="Game platform image">
          </td>
          <td>{{event.game.name}} {{event.gametype.name}}<br>
            <div ng-show="$ctrl.isLoggedIn() && event.rightClan">
              <img class="img-thumbnail team-icon" ng-src="{{event.leftClan.img}}" alt="Team One"> vs
              <img class="img-thumbnail team-icon" ng-src="{{event.rightClan.img}}" alt="Team Two"><br> Join for clan members only
            </div>
            <a name="join" id="join" ng-click="$ctrl.joinEvent(0, event)" ng-show="$ctrl.isLoggedIn() && !event.rightClan " class="btn btn-info btn-sm" href="#" role="button">Join</a> ({{event.leftTeam.length}} :{{event.rightTeam.length}})
            <a name="join" id="join" ng-click="$ctrl.joinEvent(1, event)" ng-show="$ctrl.isLoggedIn() && !event.rightClan " class="btn btn-info btn-sm" href="#" role="button">Join</a><br>
          </td>
          <td>
            <a class="btn btn-info btn-sm" ui-sref="event({id: event._id})" role="button">Details...</a>
          </td>
        </tr>
        <tr ng-repeat="event in $ctrl.events | filter:$ctrl.checkEventShow() | filter:$ctrl.checkEventNotNull() | orderBy:'datetime'" ng-click="$ctrl.goDetails(event._id)">
          <td>{{event.name}}</td>
          <td>{{$ctrl.readyText(event)}}</td>
          <td align="center">
            <img class="img-thumbnail game-icon" ng-src="/assets/images/games/{{event.game.img}}" alt="Game image"><br>
            <img ng-src="/assets/images/platforms/{{event.gameplatform.img}}" alt="Game platform image">
          </td>
          <td>{{event.game.name}} {{event.gametype.name}}<br>
            <div ng-show="$ctrl.isLoggedIn() && event.rightClan">
              <img class="img-thumbnail team-icon" ng-src="{{event.leftClan.img}}" alt="Team One"> vs
              <img class="img-thumbnail team-icon" ng-src="{{event.rightClan.img}}" alt="Team Two"><br> Join for clan members only
            </div>
            <a name="join" id="join" ng-click="$ctrl.joinEvent(0, event)" ng-show="$ctrl.isLoggedIn() && !event.rightClan " class="btn btn-info btn-sm" href="#" role="button">Join</a> ({{event.leftTeam.length}} :{{event.rightTeam.length}})
            <a name="join" id="join" ng-click="$ctrl.joinEvent(1, event)" ng-show="$ctrl.isLoggedIn() && !event.rightClan " class="btn btn-info btn-sm" href="#" role="button">Join</a><br>
          </td>
          <td>
            <a class="btn btn-info btn-sm" ui-sref="event({id: event._id})" role="button">Details...</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
