<ul class="list-group user-list">
  <li class="list-group-item" ng-repeat="user in $ctrl.users">
    <div class="user-info">
      <img class="img-thumbnail player-icon" ng-src="{{user.icon}}" alt="User image">
      <strong>{{user.name}}</strong><br>
      <span class="text-muted">{{user.email}}</span>
    </div>
    <a ng-click="$ctrl.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
  </li>
</ul>
