<script type="text/ng-template" id="gamePlatformTemplate.html">
  <a>
    <img ng-src="/assets/images/platforms/{{match.model.img}}" width="32">
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<script type="text/ng-template" id="userTemplate.html">
  <a>
    <img ng-src="{{match.model.icon}}" width="16">
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
  </a>
</script>

<div class="container">
  <div ng-if="($ctrl.thisId === undefined) || ($ctrl.editMode)" class="row">
    <h2 ng-if="!$ctrl.editMode">Add new clan:</h2>
    <h2 ng-if="$ctrl.editMode">Edit clan:</h2>
    <form class="form" name="addClan" ng-submit="$ctrl.addClan(addClan)" novalidate>

      <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" placeholder="Clan name" class="form-control" ng-model="$ctrl.clans[0].name" required>
      </div>

      <div class="form-group">
        <label>Tag:</label>
        <input type="text" name="tag" placeholder="Clan tag" class="form-control" ng-model="$ctrl.clans[0].tag" required>
      </div>

      <div class="form-group">
        <label>Info:</label>
        <textarea type="text" name="info" placeholder="Clan description" class="form-control" ng-model="$ctrl.clans[0].info"></textarea>
      </div>

      <div class="form-group">
        <label>Home page:</label>
        <input type="url" name="homepage" placeholder="Clan home page" class="form-control" ng-model="$ctrl.clans[0].homepage">
      </div>

      <div class="form-group">
        <label>Clan logo:</label>
        <input type="url" name="img" placeholder="Clan logo url" class="form-control" ng-model="$ctrl.clans[0].img">
      </div>

      <div class="form-group">
        <label>Forbid join requests:</label>
        <input type="checkbox" name="recruitment" placeholder="Clan does not accept join requests" class="form-control" ng-model="$ctrl.clans[0].recruitment" checked>
      </div>

      <div class="form-group">
        <label>Active:</label>
        <input type="checkbox" name="recruitment" placeholder="Clan does not accept join requests" class="form-control" ng-model="$ctrl.clans[0].active" checked>
      </div>

      <div class="form-group">
        <label>Game:</label>
        <input type="text" ng-model="$ctrl.clans[0].game" placeholder="Choose game" uib-typeahead="game as game.name for game in $ctrl.games | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
      </div>

      <div class="form-group">
        <label>Game platform:</label>
        <input type="text" ng-model="$ctrl.clans[0].gameplatform" placeholder="Choose game platform" typeahead-template-url="gamePlatformTemplate.html" uib-typeahead="gameplatform as gameplatform.name for gameplatform in $ctrl.clans[0].game.gamePlatforms | filter:{name:$viewValue}"
          class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
      </div>

      <div>
        <button ng-if="!$ctrl.editMode" class="btn btn-primary" ng-click="$ctrl.createClan($ctrl.clans[0])" type="submit">
           Create Clan
        </button>
        <button ng-if="$ctrl.editMode" class="btn btn-primary" ng-click="$ctrl.saveClan($ctrl.clans[0])" type="submit">
          Save
        </button>
      </div>
      <hr>
      <h2 class="text-danger">Danger zone</h2>
      <div class="form-group" ng-class="((addClan.owner.$invalid) && (addClan.owner.$touched)) ? 'has-error' : ''">
        <label>Choose new owner of squad:</label>
        <input type="text" name="owner" ng-model="$ctrl.newowner" placeholder="Choose new owner of clan" uib-typeahead="user as user.name for user in $ctrl.users | filter:{name:$viewValue}" class="form-control" typeahead-show-hint="true" typeahead-min-length="0"
          typeahead-template-url="userTemplate.html">
        <p class="help-block" ng-show="(addClan.owner.$invalid) && (addClan.owner.$touched)">
          User name is invalid
        </p>
        <button class="btn btn-default" ng-click="$ctrl.transferClan()" type="button">Transfer clan to {{$ctrl.newowner.name}}</button>
      </div>

    </form>
  </div>
  <div ng-hide="($ctrl.thisId === undefined) || ($ctrl.editMode)">
    <a name="edit_clan" id="edit_clan" ng-click="$ctrl.editClan()" ng-show="$ctrl.isLoggedIn() && ($ctrl.clans[0].owner === $ctrl.getCurrentUser()._id)" class="btn btn-primary" role="button">Edit Clan</a>
    <a name="login" id="login" ng-hide="$ctrl.isLoggedIn()" class="btn btn-primary" ui-sref="login" role="button">Login to join matches and create clans</a>
    <hr>
    <div class="row">
      <div class="col-xs-3">
        <img ng-src="{{$ctrl.clans[0].img}}" class="img-thumbnail" alt="Clan image" width="250" height="250">
      </div>
      <div class="col-xs-9">
        <h3><b>Clan:</b> <a ng-href="{{$ctrl.clans[0].homepage}}">[{{$ctrl.clans[0].tag}}] {{$ctrl.clans[0].name}}</a></h3>
        <p>{{$ctrl.clans[0].info}}</p>
        <p><b>Game:</b> {{$ctrl.clans[0].game.name}} <img ng-src="/assets/images/platforms/{{$ctrl.clans[0].gameplatform.img}}" alt="$ctrl.clans[0].gameplatform.name"></p>
        <p><b>Members:</b></p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="member in $ctrl.clans[0].members">
            <player player="member"></player>
            <a name="kick" ng-click="$ctrl.kickPlayer($index)" ng-show="($ctrl.clans[0].owner === $ctrl.getCurrentUser()._id)" id="kick" class="btn btn-danger" role="button">Kick</a>
          </li>
        </ul>

        <hr>
        <a name="joinrequest" ng-hide="$ctrl.clans[0].recruitment" ng-click="$ctrl.joinRequest($ctrl.clans[0]._id)" id="joinrequest" class="btn btn-primary" role="button">Join...</a>
        <p ng-show="$ctrl.clans[0].recruitment">Recruitment closed</p>
        <hr>
        <h3>Join requests</h3>
        <div ng-repeat="request in $ctrl.joinrequests">
          <player player="request.user"></player>
          <a name="accept" ng-click="$ctrl.acceptRequest(request)" ng-show="($ctrl.clans[0].owner === $ctrl.getCurrentUser()._id)" id="accept" class="btn btn-primary" role="button">Accept</a>
          <a name="decline" ng-click="$ctrl.declineRequest(request)" id="decline" class="btn btn-danger" role="button">Decline / Remove request</a>
        </div>
      </div>
    </div>
    <div class="row">
      <hr>
      <form>
        <h2>Clan discussion:</h2>
        <a name="clear_chat" id="clar_chat" ng-click="$ctrl.clearChat()" ng-show="$ctrl.isLoggedIn() && ($ctrl.clans[0].owner === $ctrl.getCurrentUser()._id)" class="btn btn-danger" role="button">Clear chat</a>
        <ul class="list-group chat-area" scroll-glue>
          <li class="list-group-item" ng-repeat="message in $ctrl.clans[0].chat | orderBy:'$index':true">
            <player player="message.user"></player>: {{message.message}}</li>
        </ul>
        <div class="input-group">
          <input type="text" ng-model="$ctrl.mymsg" placeholder="Write your message and press Enter..." class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" ng-click="$ctrl.addMessage()" type="submit">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
