<form ng-submit="$ctrl.saveGame(form)" class="form-horizontal" role="form">
  <div class="form-group">
    <legend>Game</legend>
  </div>

  <label for="game" class="col-sm-2"></label>

  <div class="form-group">
    <input type="text" name="name" id="name" ng-model="$ctrl.game.name" class="form-control" placeholder="Display Name">
  </div>

  <div class="form-group">
    <input type="text" name="info" id="info" ng-model="$ctrl.game.info" class="form-control" placeholder="Additional Info">
  </div>

  <div class="form-group">
    <input type="text" name="image" id="image" ng-model="$ctrl.game.img" class="form-control" placeholder="Game icon image filename">
  </div>

  <div class="form-group">
    <div class="input-group">
      <input type="text" name="gametype" id="gametype" ng-model="$ctrl.chosengametype" class="form-control" placeholder="Enter game type and press add">
      <span class="input-group-btn">
        <button ng-click="$ctrl.addGameType()" class="btn btn-default" type="button">Add</button>
      </span>
    </div>
    <br>
    <button class="btn btn-default" type="button" ng-repeat="gametype in $ctrl.game.gameTypes">
      {{gametype.name}}
      <span ng-click="$ctrl.removeGameType(gametype)" class="fa fa-times" aria-hidden="true"></span>
    </button>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input type="text" name="gamemap" id="gametpye" ng-model="$ctrl.chosengamemap" class="form-control" placeholder="Enter game map info and press add">
      <span class="input-group-btn">
        <button ng-click="$ctrl.addGameMap()" class="btn btn-default" type="button">Add</button>
      </span>
    </div>
    <br>
    <button class="btn btn-default" type="button" ng-repeat="gamemap in $ctrl.game.gameMaps">
      {{gamemap.name}}
      <span ng-click="$ctrl.removeGameMap(gamemap)" class="fa fa-times" aria-hidden="true"></span>
    </button>
  </div>

  <div class="form-group">
    <ui-select multiple ng-model="$ctrl.game.gamePlatforms" theme="bootstrap">
      <ui-select-match placeholder="Select platforms...">{{$item.name}}</ui-select-match>
      <ui-select-choices repeat="gameplatform in $ctrl.gameplatforms">
        <span ng-bind="gameplatform.name"></span>
      </ui-select-choices>
    </ui-select>
  </div>

  <div class="form-group">
    <label for="active">Active</label>
    <input type="checkbox" name="active" id="active" ng-model="$ctrl.game.active">
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
